<p>
  <b>Position:</b>
  <%=h @example_section.position %>
</p>

<p>
  <b>Title:</b>
  <%=h @example_section.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @example_section.description %>
</p>


<%= link_to 'Edit', edit_example_section_path(@example_section) %> |
<%= link_to 'Back', example_sections_path %>
