<h2>Manage Examples</h2>

<script type="text/javascript">
  $(function() {
    $("ul.sortable").sortable({
      placeholder: 'ui-state-highlight',
      forcePlaceholderSize: true,
      axis: "y",
      containment: "parent",
      // connectWith: ["ul.sortable"], // Can't get the handler to work for some reason.
      update: function(event, ui) {
        
        order = $(ui.item).parent(".sortable").sortable("toArray").map(function(section_id) {
          return parseInt(section_id.replace("example_", ""));
        }).join(",");
        
        
        url = "<%= url_for(:controller => 'admin', :action => 'reorder_examples') %>"
        
        $.post(url, {order: order}, function(data, textStatus) {
          alert("Done! " + textStatus)
        }, 'json');
        
      }
    });
    $("div.example_section").sortable({
      // axis: "y",
      handle: ".example_section_header"
      // update: function(event, ui) {
      //   alert("Weee!");
      // }
    });
  });
</script>

<p class="new-link">
  <% link_to new_example_path, {:title => "Edit"} do %>
    <button class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plusthick"></span> New Example</button>
  <% end %>
</p>

<% for section in @example_sections %>

<div id="example_section_<%= section.id %>" class="example_section ui-sortable">
  
  <h3 class="example_section_header"><%= h section.title %></h3>

  <ul class="sortable ui-sortable">
  <% for example in section.examples %>

    <li class="ui-state-default" id="example_<%= example.id %>">
    
      <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
      
      <%= delete_icon example_url(example) %>
      <%= edit_icon edit_example_url(example) %>
             
      <p><%= h example.title %></p>
    
    </li>
  
  <% end %>
  </ul>
</div>
<% end %>