<h1><%=
  current_user.name.ends_with?("s") ? "#{current_user.name}'" : "#{current_user.name}'s"

%> Account</h1>

<h2>Account Information</h2>
<table id="account-information">
  <tr>
    <td>Username</td>
    <td><%= current_user.login %></td>
  </tr>
  <tr>
    <td>Email address</td>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <td>PIN number</td>
    <td><%= current_user.pin_number %></td>
  </tr>
</table>

<h2>Phone From Here softphone</h2>

<%= phone_from_here %>

<p>If you have any issues with Phone From Here, please <a href="http://getsatisfaction.com/phonefromhere">report them</a>.</p>

<h2>What is this page for?</h2>

<p>This Manage Account page is mostly for features that we'll be rolling out in the near future. For the time being, it's just a way of viewing very basic information about your account.</p>

<p>Here are some of the things we're working on:</p>

<ul>
  <li><strong>Public sandbox phone number:</strong> Use your cell phone to test your sandbox app!</li>
  <li><strong>Component sharing:</strong> Let this site aggregate from Github and display your Adhearsion applications and components!</li>
  <li><strong>Example sharing:</strong> Help contribute to the Adhearsion Examples page by submitting your own!</li>
</ul>

<h2>Update information</h2>

<% form_for current_user, :url => {:controller => "users", :action => "update_information" } do |f| %>

<table id="account-information">
  <tr>
    <td><label for="user_skype">Skype username: </label></td>
    <td><%= f.text_field :skype %></td>
  </tr>
  <tr>
    <td><label for="user_email">Email address: </label></td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Update information" %></td>
  </tr>
</table>

<% end %>

<h2>Change password</h2>

<% form_for :user, :url => {:controller => "users", :action => "change_password" } do |f| %>

<table id="account-information">
  <tr>
    <td><label for="user_password">Password: </label></td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td><label for="user_password_confirmation">Confirm: </label></td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Change password" %></td>
  </tr>
</table>

<% end %>
