<h2>Editing Example</h2>

<% form_for(@example) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
  <p>Section: <%= select("example", "example_section_id", @sections.collect {|s| [ s.title, s.id ] }) %></p>

  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @example %> |
<%= link_to 'Back', examples_path %>
