<h2><%= h @example.title %></h2>
<h3>Section "<%=h @example.example_section.title %>"</h3>

<div class="content-container">
  <%= @example.content_html %>
</div>

<p><%= link_to 'Edit', edit_example_path(@example) %> | <%= link_to 'Back', examples_path %></p>
